*.info
*.bin
*.backup
*.bakert
*.log
*.meta
*\metadata\*
UnityLockFile
UnityTempFile-*


BAM!Movers_Prototype/Library/metadata/10/1015d37d3e2db5f4eaccd41fd268a7ad
BAM!Movers_Prototype/Library/metadata/10/1015d37d3e2db5f4eaccd41fd268a7ad
BAM!Movers_Prototype/Library/metadata/1e/1e108ae5f2133934f948edded555f03e
BAM!Movers_Prototype/Library/CrashedAssetImports.txt
